# -------------------------
# Python
# -------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.venv
env/
venv/
*.egg-info/
dist/

# -------------------------
# PyTorch / Models
# -------------------------
*.pth
*.pt

# -------------------------
# Streamlit / App
# -------------------------
.streamlit/

# -------------------------
# Images / Data
# -------------------------
*.png
*.jpg
*.jpeg
*.bmp
*.gif

# -------------------------
# Logs / Temporary files
# -------------------------
*.log
tmp/
temp/

# -------------------------
# OS / Editor files
# -------------------------
.DS_Store
Thumbs.db
.vscode/
.idea/

